<div>
  <div> </div>
  <div> </div>
  <h1 class="text-center">{{ site.data.aboutus.title  }}</h1>

  <img style="margin: 5px auto; display: block; max-width: 100%; height: auto;" src="{{"files/home/" | prepend: site.baseurl | append: site.data.aboutus.image }}">

  <p class="text-center">{{ site.data.aboutus.description  }}</p>
  <p class="text-center"><a style="margin: 5px auto; width: 180px;" class="btn btn-default" href="#" role="button"> درباره ما </a> </p>
  <div> </div>
  <div> </div>
</div>
