<div >
  <div style="margin: 10px;">
  <h1> آدرس </h1>
  <p>{{ site.data.address.address }}</p>
   </div>
<div id="map" style="width: 100%; height: 200px"></div>
<style type="text/css"> @import url("{{"assets/css/ol.css" | prepend: site.baseurl }}"); </style>
<script src="{{"assets/js/ol.js" | prepend: site.baseurl }}"></script>
<script>
var iconFeatures=[];

var iconFeature = new ol.Feature({
  geometry: new ol.geom.Point(ol.proj.transform([{{ site.data.address.latitude }},{{ site.data.address.longitude }}], 'EPSG:4326',     
  'EPSG:3857')),
  name: 'shiraz lug',
  population: 4000,
  rainfall: 500
});

iconFeatures.push(iconFeature);

var vectorSource = new ol.source.Vector({
  features: iconFeatures //add an array of features
});

var iconStyle = new ol.style.Style({
  image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
    anchor: [0.5, 64],
    anchorXUnits: 'fraction',
    anchorYUnits: 'pixels',
    opacity: 0.75,
    src: '{{"files/home/marker.png" | prepend: site.baseurl }}'
  }))
});


var vectorLayer = new ol.layer.Vector({
  source: vectorSource,
  style: iconStyle
});
  
 

  
  
  var map=new ol.Map({
    layers: [
      new ol.layer.Tile({source: new ol.source.OSM()}),
      vectorLayer
    ],
    view: new ol.View({
      center:ol.proj.transform([ {{ site.data.address.latitude }} , {{ site.data.address.longitude }} ], 'EPSG:4326', 'EPSG:3857'),
      zoom: {{ site.data.address.mapzoom }}
    }),
    target: 'map'
  });
  
</script>
</div>
