<div style="height: 250px; ">
  <h3>{{ site.data.metting.title }}</h3>
  <div>{{ site.data.metting.description }}</div>
  <div> زمان : {{ site.data.metting.date }}</div>
  <div> مکان : 
  {% if site.data.metting.location %}
    {{ site.data.metting.location }}
  {% else %}
    محل معمول جلسات
  {% endif %}
  </div>
  {% if site.data.metting.author %}
    {% if site.data.people[site.data.metting.author] %}
      {% assign author = site.data.people[page.author] %}
      توسط : 
      <img src="{{"files/people/" | prepend: site.baseurl | append: author.image }}">
      {{ author.name }}
  
    {% else %}
      توسط :  site.data.metting.author
    {% endif %}
  {% endif %}
  
  {% if site.data.metting.image %}
  <img src="{{"files/meeting/" | prepend: site.baseurl | append: site.data.metting.image }}">
  {% else %}
  <img src="{{"files/metting/" | prepend: site.baseurl | append: "default.jpg" }}">
  {% endif %}
  
  
  
</div>
