<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
{% for slide in site.data.slider %}
	<li data-target="#carousel-example-generic" data-slide-to="{{ slide.number }}" {% if forloop.first  %} class="active" {% endif %}></li>
{% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
{% for slide in site.data.slider %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <img src="{{"files/slider/" | prepend: site.baseurl | append: slide.img }}" alt="{{ slide.title }}">
      <div class="carousel-caption">
	{{ slide.comment }}
      </div>
    </div>
{% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
